{% extends "base.html" %}

{% block title %}Office Olympics{% endblock %}

{% block content %}

    <h1>Hello {{ user_name }} and welcome to the Office Olympics!</h1>

    <p>Your current score: {{ score }}</p>
    <p>Your current ballance: {{ credit }}</p>

    <form method="post" action="{{ url_for('perform_penalties') }}" class="my-4" novalidate>
        <div class="form-group">
            <label for="adversarySelect">Select an Adversary:</label>
            <input type="text" list="userList" class="form-control" id="adversarySelect" name="adversary" placeholder="Search for an adversary" required>
            <datalist id="userList">
                {% for contestant in contestants %}
                    <option value="{{ contestant.name }}">
                {% endfor %}
            </datalist>
        </div>

        <div class="form-group">
            <label for="teamSelect">Or a team:</label>
            <input type="text" list="teamList" class="form-control" id="teamSelect" name="team" placeholder="Search for a team" required>
            <datalist id="teamList">
                {% for team in teams %}
                    <option value="{{ team.team_name }}">
                {% endfor %}
            </datalist>
        </div>

        <div class="form-group">
            <label for="penaltySelect">Select a Penalty:</label>
            <select class="form-control" id="penaltySelect" name="penalty" required>
                {% for penalty, price in penalties.items() %}
                    <option value="{{ penalty }}">{{ penalty }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary" id="submitButton" disabled>Submit</button>
    </form>

    <script>
        // Enable the submit button when valid options are selected
        document.getElementById("adversarySelect").addEventListener("input", enableSubmitButton);
        document.getElementById("teamSelect").addEventListener("input", enableSubmitButton);
        document.getElementById("penaltySelect").addEventListener("input", enableSubmitButton);

        function enableSubmitButton() {
            var adversarySelect = document.getElementById("adversarySelect");
            var teamSelect = document.getElementById("teamSelect");
            var penaltySelect = document.getElementById("penaltySelect");
            var submitButton = document.getElementById("submitButton");
            // Enable the submit button only if either name or team is selected, and penalty is valid
            if (((isNameValid(adversarySelect.value.trim()) && teamSelect.value.trim() === "") || (isTeamValid(teamSelect.value.trim()) && adversarySelect.value.trim() === ""))
                && isPenaltyValid(penaltySelect.value.trim())
                || (penaltySelect.value.trim() === "See score board")) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }
        function isNameValid(name) {
            var validNames = Array.from(document.querySelectorAll("#userList option")).map(option => option.value);
            return validNames.includes(name);
        }
        function isTeamValid(team) {
            var validTeams = Array.from(document.querySelectorAll("#teamList option")).map(option => option.value);
            return validTeams.includes(team);
        }
        function isPenaltyValid(penalty) {
            var validPenalties = Array.from(document.querySelectorAll("#penaltySelect option")).map(option => option.value);
            return validPenalties.includes(penalty);
        }
    </script>

{% endblock %}